<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pizzaria Dom Cattione - @ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="/Content/themes/base/all.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        var urlBase = "@Url.Content("~/")";
    </script>
</head>
<body>
    <div class="page">
        <div class="content">
            @RenderBody()
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/select2")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/common")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    @System.Web.Optimization.Scripts.Render("~/bundles/inputmask")
    @System.Web.Optimization.Scripts.Render("~/bundles/layout")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
</body>
</html>
